################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgorithmsTry/obj
/AlgorithmsTry/bin/Debug/netcoreapp3.1
/AlgorithmsLeetCodeFSharp/obj
/AlgorithmsLeetCodeFSharp/bin/Debug/netcoreapp3.1
/AlgorithmsLeetCodeCSharp/bin/Debug/netcoreapp3.1
/AlgorithmsLeetCodeCSharp/obj
/AlgorithmsLeetCodeCSharpTests/obj
/AlgorithmsCodolityCSharp/bin/Debug/netcoreapp3.1
/AlgorithmsCodolityCSharp/obj
/AlgorithmsLeetCodeCSharpTests/bin/Debug/netcoreapp3.1
